.ButtonSelect {
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-content: space-between;
  padding: 0 10px;
  width: 200px;
}

.ButtonSelect:hover {
  background: rgba(255, 255, 255, 0.2);
}

.ButtonSelect + .ButtonSelect {
  border-left: 1px solid white;
}

.ButtonSelect-Title {
  padding: 2px 5px;
}

.ButtonSelect-Title.active {
  font-weight: bold;
  border: 1px dashed white;
  text-align: center;
  text-transform: uppercase;
}

.ButtonSelect-Select {
  margin-top: 10px;
}