/* Position and sizing of clickable cross button */
.bm-cross-button {
  left: 0;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  outline: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.SideBar-Title {
  text-transform: capitalize;
  margin-right: 10px;
}

.SideBar-Stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.SideBar-Stats > span {
  margin-bottom: 10px;
}

small {
  margin-left: 10px;
}

.FeatureLink {
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

.FeatureLink:hover, .FeatureLink.active {
  background: rgba(255, 255, 255, 0.2);
}

.Feature + .Feature {
  margin-top: 20px;
  border-top: 1px solid grey;
  padding-top: 20px;
}

.Feature-Title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Feature-Title > small {
  font-style: italic;
  text-align: right;
}