.NavBar {
  margin: 0;
  background: #2a2a2a;
  color: white;
  min-height: 40px;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.NavBar-Controls {
  padding-top: 5px;
  display: flex;
}

.NavBar-Stats {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.NavBar-StatsField {
  white-space: nowrap;
}

.NavBar-StatsField label {
  color: grey;
}

.NavBar-StatsField + .NavBar-StatsField {
  margin-left: 20px;
}