.NavBar {
  display: flex;
  margin: 0;
  background: #2a2a2a;
  color: white;
  min-height: 40px;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.NavBar-Button {
  background: white;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 10px;
}

.NavBar-Button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.NavBar-Stats {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.NavBar-StatsField {
  white-space: nowrap;
}

.NavBar-StatsField label {
  color: grey;
}

.NavBar-StatsField + .NavBar-StatsField {
  margin-left: 20px;
}